<div class="body">
    <div class="container">
    <form [formGroup]="advanceSearchForm" (ngSubmit)="onSubmit()">
    <div class="row">
    
    <div class="col-xs-4 pt-3" style="margin-top:5px">
    
    <div class="dropdown">
    <label>Shipper </label>
    <select id="shipper" class="btn btn-light" multiple formControlName="selectedShippers">
    <option *ngFor="let shipper of shipper" [ngValue]="shipper" (change)="selectShipper($event)">
    {{shipper}}
    </option>
    </select>
    </div>
    </div>&nbsp;
    <div class="col-xs-4 pt-3" style="margin-top:5px">
    
    <div class="dropdown">
    <label>CustomerName </label>
    <select id="customerName" class="btn btn-light" multiple formControlName="selectedCustomerNames">
    <!-- <option value="Category">Category</option> -->
    <option *ngFor="let name of customerName" [ngValue]="name" (change)="selectCustomerName($event)">
    {{name}}
    </option>
    </select>
    </div>
    </div>
    
    </div>
    
    <fieldset style="background:ghostwhite">
    <legend style="padding:15px 10px;font-size: x-large;">Order Date:</legend>
    
    <div class="input-group">
    From:<input class="form-control" type="text" [(ngModel)]="Model1" placeholder="yyyy-mm-dd" name="dp1" ngbDatepicker
    #d1="ngbDatepicker" formControlName="selectedFromDate" required>
    <div class="input-group-addon" (click)="d1.toggle()">
    <i class="fa fa-calendar" aria-hidden="true" style="font-size:30px;"></i>
    </div>
    </div>
    
    <div class="input-group">
    To:<input class="form-control" [(ngModel)]="Model2" formControlName="selectedToDate" placeholder="yyyy-mm-dd" name="dp2" ngbDatepicker #d2="ngbDatepicker"
    required>
    <div class="input-group-addon" (click)="d2.toggle()">
    <i class="fa fa-calendar" aria-hidden="true" style="font-size:30px;"></i>
    
    </div>
    </div>
    </fieldset>
    
    
    
    <fieldset style="background:ghostwhite">
    <legend style="padding:15px 10px;font-size: x-large;">Order Total:</legend>
    <div class="input-group">
    From: <input class="form-control" type="number" formControlName="selectedFromAmount" placeholder="Enter Start Price" required>
    </div>
    
    <div class="input-group">
    To:<input class="form-control" type="number" formControlName="selectedToAmount" placeholder="Enter End Price" required>
    
    </div>
    </fieldset>
    
    <button type="submit" class="btn btn-success">
    Submit
    </button>
    </form>
    </div>
    </div>