<div class="forgetpassword">
        
    <div class="container">
        <div class="forgetpassword-row row justify-content-center align-items-center">
            <div  class="forgetpassword-column col-md-6">
                <div  class="forgetpassword-box col-md-12">
                    <form class="forgetpassword-form form"  #form="ngForm" (ngSubmit)="authenticateService.forgetPassword(form)">
                        <h3 class="text-center text-info">Forget Password</h3>
                       <br>
                        <br>
                        <div class="form-group">
                            <label for="username" class="text-info">Email:</label><br>
                            <input type="text" class="form-control" name="email" id="email" #email="ngModel"
                            [(ngModel)]="emailtext"  email   required />
                        </div>
                        <div *ngIf="!email.valid && (email.touch || email.dirty)">
                            <div *ngIf="email.errors.required" class="alert alert-danger">
                                email is required
                                
                            </div>
                            <div *ngIf="email.errors.email" class="alert alert-danger">
                                email must be valid
                            </div>
                         </div>
                        <div class="form-group">
                            <button type="submit" [disabled]="form.invalid" (click)="goBackToLogin()" name="submit" class="btn btn-info btn-md" value="Login">Submit</button>
                        </div>
                        
                      
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

