.register-box {
    margin-top: 40px;
    max-width: 600px;
    height: 580px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  .register-form {
    padding: 20px;
  }
  .login-link {
    margin-top: -25px;
  }