.collapse{
    .navbar-nav{
        .nav-item{
            .nav-link:link{
               color: black;
            }
            // .nav-link:hover{
            //     font-size: large;
            //     background-color: #17a2b8;
            //     color:white;
            //     border-radius: 3px;
            // }
            .dashboard,.product,.order{
                font-size: large;
                background-color: #17a2b8;
                color:white;
                border-radius: 3px;
            }
          
        }
    }
}