.body{
    .container{
        .row{
            .main 
            {
              .input-group{

                margin-top:15px;
                
              }
            }
            .add{
                margin-left:500px
            }
            .search{
                float:right;
            }
            .excel{
                float: right;
             
            }
            .table{
                margin-top:5px;
            }
        }
    }
}