<div class="sidenav modal-holder">
  <div class="modal-header">
    <h4 class="modal-title">
      <div *ngIf="order">
        Add Order
      </div>
      <div *ngIf="product">
          Add Product
      </div>
      <div *ngIf="search">
       Advance Search
    </div>
    </h4>
   
    <button type="button" class="btn btn-danger close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="order">
    <app-add-edit-order></app-add-edit-order>
  </div>
  <div *ngIf="product">
      <app-add-edit-product [editProduct]=""></app-add-edit-product>
  </div>
  <div *ngIf="search">
    <app-advance-search></app-advance-search>
</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>